{% extends "base.html" %}
{% block title %}Inicio - DigitalFix{% endblock %}
{% block content %}
<section id="inicio">
    <div class="bienvenida">
        <h2>Bienvenido a DigitalFix</h2>
        <p>Reparamos teléfonos, computadores y consolas con rapidez, garantía y profesionalismo.</p>
    </div>
    <div class="catalogo-grid">
        <div class="servicio">
            <img src="https://static.2x3cdn.com/assets/seo-keywords/mobile_square/jpeg/2745.jpeg" alt="PC">
            <p>Reparación de PC</p>
        </div>
        <div class="servicio">
            <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/666f/live/fb36f4b0-7da6-11ee-a591-cb46db01d774.jpg.webp" alt="Teléfonos">
            <p>Reparación de Teléfonos</p>
        </div>
    </div>
</section>
{% endblock %}
